<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    id属性是用于唯一标识bean，而name属性是用于给bean定义一个或多个名称-->
    <bean name="user1" class="User1">
        <constructor-arg index="0" value="1"/>
        <constructor-arg name="name" index="1" value="张三user1"/>
        <constructor-arg name="password" index="2" value="123456"/>
    </bean>
</beans>