<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="myAspect" class="aspect.MyAspect"/>
    <bean id="userDao" class="dao.impl.UserDaoImpl"/>
    <bean id="annotationAspect" class="aspect.AnnotationAspect"/>
    <bean id="studentDao" class="dao.impl.StudentDaoImpl"/>
    <bean id="interfaceAspect" class="aspect.InterfaceAspect"/>
    <aop:config>
        <aop:pointcut id="pointCut" expression="execution(void dao.impl.*.*(..))"/>
        <aop:advisor advice-ref="interfaceAspect" pointcut-ref="pointCut"/>
    </aop:config>
</beans>